body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image2.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}
h2 {
  color: hsl(0, 100%, 40%);
  text-transform: uppercase;
  font-size: 18px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 2);
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

input[type="number"] {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 2);
}
input[type="number"]::placeholder {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bolder;
}

span {
  margin-bottom: 20px;
  font-size: 20px;
}

button {
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  background-color: hsl(0, 100%, 40%);
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 2px 20px rgba(0, 0, 0, 2);
  font-weight: bolder;
}

button:hover {
  background-color: hsl(0, 100%, 35%);
}

#result {
  font-size: 30px;
}
